/* TIRAR AS DEFINICÕES PADRÕES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

/* AJUSTES DE TAMANHO DO HTML E BODY */
html,body{
    height: 100%;
}

/* HEADER */
header{
    width: 100%;
    height: 90vh;
    background-image: url(/PROJETO_02/IMG/capa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/* HEADER CONTAINER LOGO E NAV */
.container-logo-nav{
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo{
    width: 180px;
    height: 90px;
    background-color: gray;
}

/* ul LISTA DA NAV BAR */
nav > ul{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

/* li LISTA DA NAV BAR */
nav > ul > li{
    list-style-type: none;
}

/* LINKS DA NAV BAR */
nav > ul > li > a{
    text-decoration: none;
    color: white;
}

/* TITOLO DO HEADER */
.container-titulo{
    width: 40%;
    height: auto;
    float: right;
    margin-top: 70px;
    margin-right: 250px;
}

/* CONTAINER P DO HEADER */
.container-titulo-p{
    width: 85%;
    height: auto;
}

/* P TITULO DO HEADER */
.container-titulo-p > p{
    color: white;
}

/* H1 TITULO DO HEADER */
.container-titulo-h1 > h1{
    color: white;
    font-size: 45px;
    font-weight: inherit;
}

/* CONTAINER-SESSÃO */
.container-sessão-1{
    width: 100%;
    height: 350px;
    background-color: #4A2C63;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* CONTAINER-CHAMADA-1 */
.container-chamada-1{
    width: 70%;
    height: auto;
    border: 1px solid;
    position:absolute;
    z-index: 2;
}

/* CONTAINER-CHAMADA DA ul */
.container-chamada-1 > ul{
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

/* CONTAINER-CHAMADA-1 H1 */
.container-chamada-1 > h2{
    color: white;
    font-size: 40px;
    font-weight: inherit;
}

/* CONTAINER-CHAMADA-1 P */
.container-chamada-1 > p{
    color: white;
}

/* li DA CLASSE CONTAINER-CHAMADA-1 */
.container-chamada-1 > ul > li{
    color: white;
}

/* CONTAINER IMG DA SESSÃO 1 */
.container-img-1{
    width: 60%;
    height: 350px;
    background-image: url(/PROJETO_02/IMG/device.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid;
    position: relative;
    z-index: 1;
    margin-left: 500px ;
}

/* BOTÃO DA SESSÃO 1 */
.container-chamada-1 > button{
    width: 165px;
    height: 44px;
    border: 1px solid #FF783B;
    background-color: #FF783B;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

@media (min-width: 431px) and (max-width: 1024px){
    
}

@media (max-width: 430px){

}

